
**Step-1:Business Problem Understanding**

- The goal is to predict a person's medical expenses based on factors like age, BMI, smoking status, and other demographic information. This helps in estimating healthcare costs and making informed insurance or medical decisions.

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings 
warnings.simplefilter('ignore')

### Step-2 :Data Understanding

**Load Data & Understand every variable**

In [2]:
df = pd.read_csv(r'C:\Users\sahur\Downloads\insurance.csv')
df.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

**Dataset Understanding**

In [3]:
df.shape

(1338, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

**Exploratory Data Analysis**

In [5]:
categorical = []
continuous =[]
check =[]
d_types = dict(df.dtypes)
for name,type in d_types.items():
    if str(type) == 'object':
        categorical.append(name)
    elif str(type) == 'float64':
        continuous.append(name)
    else:
        check.append(name)

print('categorical features:',categorical)
print('continuous features:',continuous)
print('features to be checked:',check)

categorical features: ['sex', 'smoker', 'region']
continuous features: ['bmi', 'expenses']
features to be checked: ['age', 'children']

In [6]:
continuous = ['bmi', 'expenses','age']

In [7]:
d_types = dict(df.dtypes)
for name,type in d_types.items():
    if str(type) =='object':
        print(f'<========{name}=========>')
        print(df[name].value_counts())

<========sex=========>
sex
male      676
female    662
Name: count, dtype: int64
<========smoker=========>
smoker
no     1064
yes     274
Name: count, dtype: int64
<========region=========>
region
southeast    364
southwest    325
northwest    325
northeast    324
Name: count, dtype: int64


- ðŸ“Œ Code Explained Line by Line

- categorical = []

- continuous =[]

- check =[]

- These are three empty lists created to store the names of columns based on their data types:

- categorical: for columns with object/string type (e.g., names, categories).

- continuous: for floating point numerical columns (float64).

- check: for any other types (e.g., integers, boolean, datetime, etc.).


- **d_types = dict(df.dtypes)**

- df.dtypes returns a Series with column names as index and data types as values.

- dict(df.dtypes) converts that Series into a dictionary, where:

- keys = column names,

- values = data types (e.g., object, float64, int64, etc.).


- **for name, type in d_types.items():**

- This loops through each key-value pair (column name and its data type) in the d_types dictionary.


   -  **if str(type) == 'object':**
        
       -  **categorical.append(name)**

- If the column's data type is object (usually used for strings or mixed types), then the column name is added to the categorical list.


    - **elif str(type) == 'float64':**
       
        - **continuous.append(name)**

- If the column's data type is float64 (used for continuous numeric data), the column name is added to the continuous list.

   -  **else:**
        
       - **check.append(name)**
       
- If the column is neither object nor float64, it gets added to the check list.

- This could include types like int64, bool, datetime64, etc.

- You might want to inspect these separately.

- print('categorical features:',categorical)

- print('continuous features:',continuous)

- print('features to be checked:',check)

- Finally, it prints the names of the columns sorted into the three categories.

- âœ… Use Case

- This code is commonly used in data preprocessing before machine learning or data analysis to:

- Understand which features need encoding (categorical),

- Which need scaling (continuous),

- And which might need further inspection or transformation (check).

- Let me know if you want to adapt this code to also detect int or datetime columns separately!




===================================================


- You said:

    - if str(type) == 'object': explain str(type) 


- ChatGPT said:

- Great question! Let's break down str(type) in this context:

- ðŸ“Œ type in the loop

- In this line:


- for name, type in d_types.items():

- type represents the data type of each column in the DataFrame df.

- These data types come from df.dtypes, which is typically a pandas.Series where each value is a NumPy dtype object, like:

- object

- float64

- int64

- bool

- datetime64[ns] etc.

- ðŸ§  What is str(type) doing?

- str(type) is converting the dtype object to a string so it can be compared easily.

- For example:

- >>> import pandas as pd

- >>> df = pd.DataFrame({'name': ['Alice', 'Bob'], 'score': [95.5, 88.0]})
- >>> df.dtypes
- name      object
- score    float64
- dtype: object

- When looping through df.dtypes.items():

- for name, type in df.dtypes.items():
   -  print(name, '->', type, '->', str(type))
- Output:

- name -> object -> object
- score -> float64 -> float64
- So:

- type is a NumPy dtype (like dtype('float64'))

- str(type) returns 'float64' or 'object' as a string

- âœ… Why convert to string?

- Because it's easier to compare:

- if str(type) == 'object':  # string comparison

- Instead of writing more complex comparisons using dtype classes.

- ðŸ“Ž Summary
- type is a NumPy dtype object.

- str(type) converts it to a plain string like 'object', 'float64', etc.

- This makes it easier to compare data types in simple if statements.

In [8]:
df.describe()

               age          bmi     children      expenses
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.665471     1.094918  13270.422414
std      14.049960     6.098382     1.205493  12110.011240
min      18.000000    16.000000     0.000000   1121.870000
25%      27.000000    26.300000     0.000000   4740.287500
50%      39.000000    30.400000     1.000000   9382.030000
75%      51.000000    34.700000     2.000000  16639.915000
max      64.000000    53.100000     5.000000  63770.430000

In [9]:
df[continuous].corr()

               bmi  expenses       age
bmi       1.000000  0.198576  0.109341
expenses  0.198576  1.000000  0.299008
age       0.109341  0.299008  1.000000

### Step-3 : Data Preprocssing

In [10]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [11]:
# drop the region column 
df.drop('region',axis = 1,inplace = True)

In [12]:
# encoding sex column 
df['sex'].replace({'female':0,'male':0},inplace = True)

# encoding 'smoker' column 
df['smoker'].replace({'no':0,'yes':1,},inplace = True)

In [13]:
x = df.drop('expenses',axis = 1)
y = df['expenses']

In [14]:
Train = []
cv = []

for i in range(1,100):
    from sklearn.model_selection import train_test_split 
    x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = 0.2,random_state = i)

    from sklearn.linear_model import ElasticNet
    model = ElasticNet()
    model.fit(x_train,y_train)

    ypred_train = model.predict(x_train)

    from sklearn.metrics import r2_score 
    Train.append(r2_score(y_train,ypred_train))
    from sklearn.model_selection import cross_val_score
    cv.append(cross_val_score(model,x_train,y_train,cv = 5).mean())

em = pd.DataFrame({'Train':Train,'cv':cv})
print(em)
gm = em[abs(em['Train'] - em['cv']) <= 0.5]
print(gm)
rs = gm[gm['cv'] == gm['cv'].max()].index.tolist()[0]
print('best random state number',rs)

       Train        cv
0   0.387804  0.383046
1   0.387616  0.375942
2   0.393142  0.386720
3   0.391943  0.374665
4   0.386016  0.379432
..       ...       ...
94  0.398194  0.388933
95  0.403496  0.396825
96  0.399060  0.393078
97  0.398047  0.392645
98  0.398135  0.391363

[99 rows x 2 columns]
       Train        cv
0   0.387804  0.383046
1   0.387616  0.375942
2   0.393142  0.386720
3   0.391943  0.374665
4   0.386016  0.379432
..       ...       ...
94  0.398194  0.388933
95  0.403496  0.396825
96  0.399060  0.393078
97  0.398047  0.392645
98  0.398135  0.391363

[99 rows x 2 columns]
best random state number 95

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 95)

### Step-4:Modelling & Evluation 

- Lasso Regression with default parameters

In [16]:
# Modelling
from sklearn.linear_model import ElasticNet
enr_base = ElasticNet()
enr_base.fit(x_train,y_train)

# predictions 
train_predictions = enr_base.predict(x_train)
test_prediction = enr_base.predict(x_test)

#Evaluation 
print('Train R2:',enr_base.score(x_train,y_train))
print('Test R2:',enr_base.score(x_test,y_test))

from sklearn.model_selection import cross_val_score 
print('cross validation score:',cross_val_score(enr_base,x_train,y_train,cv=5).mean())

Train R2: 0.3981942664125234
Test R2: 0.3338186428746637
cross validation score: 0.3889328073116303

**enr_base.score(x_train, y_train)**

- and

- from sklearn.metrics import r2_score
- r2_score(y_train, enr_base.predict(x_train))
- Both give the same result (RÂ² score) â€” but the reason score() is used is for convenience. Let's dive in:

- ðŸ§  What is .score()?
- In scikit-learn, every model (like LinearRegression, Ridge, ElasticNet, etc.) has a .score() method.

- For regression models, .score() returns the RÂ² score:

- **model.score(X, y) == r2_score(y, model.predict(X))**

- So this line:

- **print('Train R2:', enr_base.score(x_train, y_train))**

- is just a shortcut for:

- from sklearn.metrics import r2_score

- **print('Train R2:', r2_score(y_train, enr_base.predict(x_train)))**

- âœ… Why use .score()?

- It's shorter and cleaner.

- Good for quick evaluation of regression models.

- You donâ€™t need to explicitly import r2_score.

- ðŸš« When not to use .score()?

- When you want to calculate other metrics like MAE, MSE, RMSE, etc.

- When you want more control (e.g., comparing training vs. test predictions with different metrics).

- If you're working with classification models, .score() returns accuracy, not RÂ².

- âœ… Summary:

|Method|	Returns|	Use case|
|------|-----------|------------|   
|.score(X, y)|	RÂ² (for regression)|	Quick model evaluation|
|r2_score(y, y_pred)	|RÂ²	|Custom metrics, more flexibility|

In [17]:
from sklearn.model_selection import GridSearchCV

# model
estimator = ElasticNet()

# parameter & values
param_grid = {'alpha':[0.1,0.2,1,2,3,5,10],'l1_ratio':[0.1,0.5,0.75,0.9,0.95,1]}

#Identifying the best value of the parameter within given values for the given data 
model_hp = GridSearchCV(estimator,param_grid,cv = 5 ,scoring = 'neg_mean_squared_error')
model_hp.fit(x_train,y_train)
model_hp.best_params_

{'alpha': 10, 'l1_ratio': 1}

- ðŸ“¦ 1. Importing GridSearchCV

- from sklearn.model_selection import GridSearchCV

- GridSearchCV is a tool from scikit-learn used for hyperparameter tuning.

- It tries all combinations of parameters from a given grid and selects the best one based on a chosen evaluation metric.

- âš™ï¸ 2. Creating the model

- estimator = ElasticNet()

- ElasticNet is a regression model that combines L1 (Lasso) and L2 (Ridge) regularization.

- This line creates an instance of the model (with default settings) to be tuned.

- â„¹ï¸ You should import it beforehand:

- from sklearn.linear_model import ElasticNet

- ðŸ”¢ 3. Setting up the parameter grid

- param_grid = {
    'alpha': [0.1, 0.2, 1, 2, 3, 5, 10],
    'l1_ratio': [0.1, 0.5, 0.75, 0.9, 0.95, 1]
}
- This defines the values of hyperparameters you want to try:

- alpha: Controls overall regularization strength.

- Higher alpha â†’ stronger penalty â†’ simpler model (but might underfit).

- l1_ratio: Controls the mix between L1 and L2:

- l1_ratio = 1 â†’ pure Lasso,

- l1_ratio = 0 â†’ pure Ridge,

- Between 0 and 1 â†’ ElasticNet.

- This grid will try 7 Ã— 6 = 42 combinations.

- ðŸ” 4. Setting up GridSearchCV

- model_hp = GridSearchCV(estimator, param_grid, cv=5, scoring='neg_mean_squared_error')

- Letâ€™s explain each part:

- estimator: the base model to tune (ElasticNet here).

- param_grid: the dictionary of hyperparameter combinations to search over.

- cv=5: 5-fold cross-validation is used to evaluate each parameter combo.

- Data is split into 5 parts, trained on 4, tested on 1, and rotated.

- scoring='neg_mean_squared_error': the metric to evaluate each model.

- Uses negative MSE because scikit-learn expects a higher score to be better, so it flips the MSE (which is normally lower = better).

- ðŸƒâ€â™‚ï¸ 5. Fitting the model

- model_hp.fit(x_train, y_train)

- This actually runs the grid search over all parameter combinations using the training data.

- For each combination, it does cross-validation, computes the score, and finds the best set of parameters.

- ðŸ† 6. Getting the best parameters

- model_hp.best_params_

- This gives you the best combination of alpha and l1_ratio based on the cross-validation performance.

- âœ… Final Notes

- Term	Meaning

- ElasticNet()	Regularized regression model

- param_grid	Hyperparameter search space

- GridSearchCV	Searches the best combination of parameters
cv=5	5-fold cross-validation
scoring='neg_mean_squared_error'	Evaluation metric
- .fit()	Runs the full search
- .best_params_	Returns best combination of hyperparameters

**Rebuilt Lasso Model using best hyperparameters**

In [18]:
# modelling 

enr_best = ElasticNet(alpha = 10,l1_ratio = 1)
enr_best.fit(x_train,y_train)

print('Intercept:',enr_best.intercept_)
print('coefficient:',enr_best.coef_)

# predictions 
train_predictions = enr_best.predict(x_train)
test_predictions = enr_best.predict(x_test)

# Evaluation 
print('Train R2:',enr_best.score(x_train,y_train))
print('Test R2:',enr_best.score(x_test,y_test))
print('cross validation score :', cross_val_score(enr_best,x_train,y_train,cv = 5).mean())

Intercept: -12880.684885653185
coefficient: [  267.74975576     0.           340.0549493    452.96011616
 23432.70372689]
Train R2: 0.742784127144706
Test R2: 0.7761813879444115
cross validation score : 0.7388503167005555

### prediction on New Data

**Data**

In [19]:
input_data = {'age':31,
              'sex':'female',
              'bmi':25.74,
              'children':0,
              'smoker':'no',
              'region':'northeast'
            
             }

**preprocessing the data**

In [20]:
df_test = pd.DataFrame(input_data ,index = [[0]])

df_test.drop('region',axis = 1,inplace = True)

df_test['sex'].replace({'female':0,'male':1},inplace = True)

df_test['smoker'].replace({'no':0,'yes':1},inplace = True)

transformed_data = df_test

**predict**

In [21]:
enr_best.predict(transformed_data)

array([4172.57193785])